
.left-container__main{
  display: none;
}
@media(min-width:480px){
   .left-container__main{
      grid-area: section;
      display: flex;
      flex-direction: column;
     justify-content: center;
     align-self: flex-end;
     margin-top: 50px;
     padding: 230px 10px 10px 30px;
     animation: 3s main 0.5s ease-in-out;
    }
    .left-container__main p:first-child{
      font-size: 3.6rem;
      font-weight: 300;
      margin: 0 0 -16px 44px;
  }
  .left-container__main p:last-child{
     display: none;
  }
  .left-container__main h1{
     font-size: 4.8rem;
      font-weight: 700;
      margin: 0 0 28px 0;
  }
  @keyframes main{
   0%{
     transform: translateY(-500px);
   }
   100%{
      transform: translateY(0px);
   }
}
}
@media(min-width:932px){
   .left-container__main{
      grid-area: section;
      display: flex;
      flex-direction: column;
     justify-content: center;
     align-self: flex-end;
     margin-top: 50px;
     padding: 230px 10px 10px 30px;
     animation: 3s main 0.5s ease-in-out; 
   }
  
  .left-container__main p:last-child{
   display: inline-block;
     font-weight: 100;
     width: 100%;
  }
 
 
}