:root{
    --yellow:#ffd602;
    --red:#d5040a;
    --blue:#036cb6;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font-size: 1.6rem;
    font-family: monospace;
}